@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: #101010;
    border-radius: 8px;
    position: absolute;
    width: 8px;
    height: 8px;
  }
::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 8px;
}
#workexperience.animation-duration-2s{
  animation-duration: 4s
}

/* #mobileNav  */